<nav class="mega-menu-container">
  <ul class="main-menu">
    <li 
      *ngFor="let menu of menuItems" 
      class="menu-item"
      (mouseenter)="showMegaMenu(menu.slug)"
      (mouseleave)="hideMegaMenu()"
    >
      <a 
        class="menu-link"
        (click)="navigateToMainCategory(menu.slug)"
      >
        <span class="category-icon">{{ menu.icon }}</span>
        <span class="category-name">{{ menu.displayName }}</span>
        <span class="dropdown-icon">▼</span>
      </a>

      <!-- Mega Menu Dropdown -->
      <div 
        class="mega-menu-dropdown" 
        *ngIf="activeMenu === menu.slug"
      >
        <div class="mega-menu-content">
          <div 
            class="mega-menu-column" 
            *ngFor="let section of menu.sections"
          >
            <h3 class="section-title">{{ section.title }}</h3>
            <ul class="section-list">
              <li *ngFor="let item of section.items">
                <a 
                  class="section-link"
                  (click)="navigateToCategory(item.category)"
                >
                  {{ item.name }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>